.cursor {
  display: inline-block;
  margin-left: 5px;
  animation: blink 1s infinite;
  color: var(--primary-color);
  font-weight: 100;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
