.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 2rem;
}

.content {
  max-width: 800px;
  justify-content: start;
}

.home h1 {
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.home h2 {
  font-size: 2rem;
  color: var(--text-muted);
  margin-bottom: 2.5rem;
}

.bio {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 4rem;
  color: var(--text-color);
  max-width: 600px;
}

.ctaButton {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: var(--primary-color);
  color: var(--bg-color);
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.ctaButton:hover {
  background-color: var(--primary-color-hv);
}

@media (max-width: 768px) {
  .home h1 {
    font-size: 2.5rem;
  }

  .home h2 {
    font-size: 1.5rem;
  }

  .bio {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}