.toggleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  font-size: 16px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 4em;
  height: 2em;
  background-color: var(--text-muted);
  border: 1px solid var(--border-color);
  border-radius: 2em;
  position: relative;
  padding: 0.2em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.label .faMoon {
  color: var(--sidebar-bg);
  font-size: 1em;
  margin-left: 0.4em;
  margin-right: 0.2em;
}

.label .faSun {
  color: var(--sidebar-bg);
  font-size: 1em;
  margin-right: 0.4em;
  margin-left: 0.2em;
}

.ball {
  width: 1.5em;
  height: 1.5em;
  background-color: var(--sidebar-bg);
  border-radius: 50%;
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  transition: transform 0.2s linear;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.checkbox:checked + .label .ball {
  transform: translateX(2em);
}
