.appContainer {
  display: flex;
}

.mainContent {
  margin-left: 260px;
  width: calc(100% - 260px);
  min-height: 100vh;
  color: var(--text-color);
  transition: color 0.3s;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
    width: 100%;
  }
}
