:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Light Theme Variables */
  --bg-color: #f7f5f1;
  --text-color: #344945;
  --text-muted: #6b7c79;
  --sidebar-bg: #e0dcd1;
  --card-bg: #ffffff;
  --border-color: #6b7c79;
  --primary-color: #344945;
  --primary-color-hv: #23302d;
  --hover-bg: #c7c3b5;

  color-scheme: light;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --bg-color: #344945;
  --text-color: #f7f5f1;
  --text-muted: #d5e3e8;
  --sidebar-bg: #23302d;
  --card-bg: #455955;
  --border-color: #5c706c;
  --primary-color: #e4e3bc;
  --primary-color-hv: #c2c19b;
  --hover-bg: #5c706c;

  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
