:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Light Theme Variables */
  --bg-color: #ffffff;
  --text-color: #30253E;
  --text-muted: #638872;
  --sidebar-bg: #94C7B4;
  --card-bg: #ffffff;
  --border-color: #80B9B1;
  --primary-color: #30253E;
  --primary-color-hv: #372b8a;
  --hover-bg: #fef5a3;

  color-scheme: light;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --bg-color: #30253E;
  --text-color: #ffffff;
  --text-muted: #94C7B4;
  --sidebar-bg: #251c30;
  --card-bg: #3d304f;
  --border-color: #638872;
  --primary-color: #fef5a3;
  --primary-color-hv: #ddd26e;
  --hover-bg: #638872;

  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
